* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: #252424;
}

.notes {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

.note {
  background-color: gray;
  padding: 1rem;
  max-width: 15rem;
  border-radius: 0.6rem;
  color: rgb(255, 255, 255);
}

form {
  padding: 20px;
  display: flex;
  gap: 10px;
}

form input {
  height: 2rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  outline: none;
}

button{
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

button:active{
  scale: 0.98;
}

.input-container{
  padding-inline: 20px;
}

.input-container input{
  height: 2rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  outline: none;
}
