* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #252424;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  flex-wrap: wrap;
}

.note{
  background-color: gray;
  padding: 1rem;
  max-width: 15rem;
  border-radius: 0.60rem;
  color: rgb(255, 255, 255);
}
